{% extends 'obstetricia/base.html' %} 
{% load static %}
{% block content %}
<img class="mb-1" src="{% static 'img/logo2.png' %}" alt="left" width="200" height="200" />
<img class="mb-1" src="{% static 'img/logo1.png' %}" align="right" width="150" height="100" />
<h2 class="h3 mb-3 font-weight-normal">Propuesta de un Sistema Digital para el Registro de Pacientes en el servicio de Sala de Parto del Hospital General Dr. Pablo Acosta Ortiz</h2>
<h2 class="h3 mb-3 font-weight-normal">Autora: Yisel Iliana Cardenas Ruiz</h2>
<h2 class="h3 mb-3 font-weight-normal">Tutor Metodologico: Dra. Maribel Valera</h2>
<h2 class="h3 mb-3 font-weight-normal">Tutor Academico: Dr. Alejandro Castillo</h2>


{% endblock %}