{% extends 'obstetricia/base.html' %}

{% block content %}
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      {% if errors %}
        <ul>
          {% for error in errors %}
            <li style="color: red;">{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <form action="{% url 'paciente_parto' %}" method="POST" autocomplete="off">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Búsqueda de pacientes Parto Normal</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="">Nº de C.I.:</label> 
              <input type="text" name="cedula" class="form-control" placeholder="Ingrese Nº de C.I.">
            </div>
          </div>
          <div class="card-footer">
            <input type="submit" value="Filtrar" class="btn btn-success float-right">
          </div>
        </div>
        {% csrf_token %}
      </form>
    </div>
  </div>
{% endblock %}