{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 403</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <div class="dra">
      <img src="{% static 'img/dra.svg' %}" alt="" class="dra-img">
    </div>
    <div class="mensaje-403">
      <p>La página a la que intentas acceder no se encuentra disponible en este momento. Presiona el botón "Volver al incio" para regresar al dashboard del sistema.</p>
      <a href="/">Volver al inicio</a>
    </div>
    <section class="error-container">
      <span class="four">
        <span class="screen-reader-text">4</span>
      </span>
      <span class="zero">
        <span class="screen-reader-text">0</span>
      </span>
      <span class="three">
        <span class="screen-reader-text">3</span>
      </span>
    </section>
  </body>
</html>
